html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 8px;
  padding: 0px;

}

.changeColor{
   background: white;
} 

.psd{
  background-color: yellow; 
  transition: 0.3s all; 
} 
.total {  
  flex-direction: row;
  height: 80%;
  
}

.bottom {
  background-color: lightblue;
  
  margin: 5px;
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  justify-content: center; 
}

.links {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
}

.links li {
  display: inline-block;
  margin-right: 8px;
}

.links a {
  text-decoration: none;
  padding: 4px;
}

.links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}