html, body {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 100%;
  margin: 8px;
  padding: 0px;




}

.total {  
  flex-direction: row;
  height: 80%;
  background-color: white;
  border-style: 0 0 200px rgba(0,0,0,0.9) inset;
  
  
}

.header{ 
  background-color: white; 
  max-width: 100%;
  height: 80vh; 
  flex: 1 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  justify-content: center; 
  
}

::selection{ 
  background: #87DEE8;
} 

/* 3 columns will turn into one on smaller window */ 
.column {
    float: left;
    width: 33.333%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* change when 600px wide or less */ 
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


mark{ /* highlight change, keeping font black  */ 
	background-color: #87DEE8;
} 

.links{
    text-color: black; 
    align-items: center;
    justify-content: center; 
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.links a:hover {
  background-color: #87DEE8;
}

img{
	float: left; 
} 


.mid{
	text-color: black; 

} 

/* below is fly in text edits */ 

.fly-in-text {
	font-size: 5px; 
	justify-content: center; 
	align-items: center; 
        list-style: none;
        position: absolute;
        left: 50%;
        top: 51%;
        transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li {
         display: inline-block;
         margin-right: 50px;
         font-family: Century Gothic;
         font-weight: 300;
         font-size: 3.5em;
         color: #000; /* black text */ 
         opacity: 1;
         transition: all 2.5s ease;

}
\.fly-in-text li:last-child {
         margin-right: 0;
}
.fly-in-text.hidden li {
         opacity: 0;
}

.fly-in-text.hidden li:nth-child(1) { transform: translateX(0px) translateY(50px); }

.vig {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 45px rgba(0,0,0,0.9) ; 
}

p.smol {
    line-height: .5;
    text-align: center; 
}

h1.title{ 
	text-align: center; 
	background-color: #87DEE8; 
	color: white; 
} 

p.pls:hover{ 
	background-color: #87DEE8;
} 